.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .app-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .image-predict-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .image-preview {
    margin-bottom: 20px;
  }
  
  .preview-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  input[type="file"] {
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    margin-top: 10px;
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
  }
  
  .prediction-result {
    text-align: center;
    margin-top: 20px;
  }
  
  .prediction-result h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }